* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

.red {
    color: rgba(241, 109, 127, 1);
}

.margin_left_8 {
    margin-left: 8px;
}

.absolute {
    position: absolute;
}

.center {
    padding: 0 calc(50% - 570px);
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(236, 236, 236, 1);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.17);
    height: 100px;
    align-items: center;
}

.header_left,
.header_right {
    display: flex;
    align-items: center;
}

.header_cart {
    margin-right: 26px;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 27px;
    color: rgba(34, 34, 34, 1);
    text-align: center;
    letter-spacing: 0.03em;
    line-height: 32px;
    text-transform: uppercase;
}

.header_form {
    display: flex;
    align-items: center;
    margin-left: 37px;
    height: 38px;
}

.header_browse_link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 38px;
    width: 87px;
    border: 1px solid rgba(230, 230, 230, 1);
    border-radius: 3px 0px 0px 3px;
    background-image: linear-gradient(180deg, rgba(249, 249, 249, 1) 0%, rgba(245, 245, 245, 1) 100%);
}

.header_browse_link:hover {
    background-image: none;
}

.header_browse_link:active {
    background-image: linear-gradient(180deg, rgba(245, 245, 245, 1) 100%, rgba(249, 249, 249, 1) 0%);
}

.header_browse {
    font-size: 14px;
    font-weight: 700;
    margin-left: 6px;
    color: rgba(34, 34, 34, 1);
    text-align: right;
    letter-spacing: 0.03em;
    line-height: 32px;
    margin-right: 8px;
}

.logo_img {
    margin-right: 13px;
}

.header_form input {
    height: 36px;
}

.search {
    display: block;
    height: 40px;
    width: 38px;
}

.search:hover .header_search_button {
    background-image: linear-gradient(180deg, rgba(249, 249, 249, 1) 0%, rgba(245, 245, 245, 1) 100%);
}

.search:active .header_search_button {
    background-image: none;
}

.header_search_button {
    height: 40px;
    width: 38px;
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(230, 230, 230, 1);
    border-radius: 0px 3px 3px 0px;
}

.header_search_button:hover {
    cursor: pointer;
}

.header_input {
    width: 261px;
    padding-left: 16px;
}

.button {
    background-color: rgba(241, 109, 127, 1);
    padding: 12px 19px;
    font-size: 15px;
    color: rgba(255, 255, 255, 1);
    letter-spacing: 0.03em;
}

.button:hover {
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.16);
}

.button:active {
    box-shadow: none;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.menu_link {
    padding: 19px 24px;
    display: block;
    font-size: 14px;
    font-weight: bold;
    color: rgba(34, 34, 34, 1);
    line-height: 26px;
    text-transform: uppercase;
}

.menu_link:hover {
    background-image: linear-gradient(180deg, rgba(249, 249, 249, 1) 0%, rgba(245, 245, 245, 1) 100%);
}

.menu_link:active {
    background-image: linear-gradient(180deg, rgba(245, 245, 245, 1) 0%, rgba(249, 249, 249, 1) 100%);
}

.slider {
    background-image: url(img/slider.png);
    display: flex;
    flex-direction: column;
    height: 614px;
    background-repeat: no-repeat;
    background-position: center -50px;
}

.slider_h1 {
    font-size: 60px;
    font-weight: 900;
    color: rgba(34, 34, 34, 1);
    letter-spacing: 0.03em;
    margin-top: 258px;
    border-left: 12px solid rgba(241, 109, 127, 1);
    padding-left: 12px;
}

.slider_h2 {
    font-size: 40px;
    font-weight: 900;
    color: rgba(34, 34, 34, 1);
    letter-spacing: 0.03em;
    border-left: 12px solid rgba(241, 109, 127, 1);
    padding-left: 12px;
}

.category {
    display: flex;
    justify-content: space-between;
}

.banners_left,
.banners_right {
    width: 560px;
    margin: 98px 0;
}

.banner_1 {
    background-image: url(img/banner_1.jpg);
    height: 542px;
}

.banner_2 {
    background-image: url(img/banner_2.jpg);
    height: 261px;
}

.banner_3 {
    background-image: url(img/banner_3.jpg);
    height: 261px;
}

.banner_4 {
    background-image: url(img/banner_4.jpg);
    height: 542px;
}

.banner {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.banner_last {
    margin-bottom: 0;
}

.banner_content {
    padding: 16px 19px;
    background-color: white;
    top: 26px;
    position: absolute;
}

.banner_h3 {
    font-size: 18px;
    font-weight: 900;
    color: rgba(34, 34, 34, 1);
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.banner_h2 {
    font-size: 30px;
    font-weight: 900;
    color: rgba(241, 109, 127, 1);
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.product_menu {
    margin-bottom: 113px;
    text-align: center;
}

.product_h3 {
    font-size: 30px;
    font-weight: bold;
    color: rgba(34, 34, 34, 1);
    text-align: center;
    letter-spacing: 0.03em;
}

.product_h6 {
    font-size: 14px;
    color: rgba(159, 159, 159, 1);
    text-align: center;
    letter-spacing: 0.03em;
    margin-top: 10px;
    margin-bottom: 60px;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product_button {
    margin-top: 45px;
    display: inline-block;
}

.product_name {
    font-size: 14px;
    color: rgba(34, 34, 34, 1);
    text-align: left;
    text-transform: uppercase;
    margin: 14px;
}

.product_prise {
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    text-transform: uppercase;
    margin: 14px;
}

.product_link {
    display: inline-block;
    margin-bottom: 31px;
}

.product_link:hover {
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.16);
}

.product_link:active {
    box-shadow: none;
}

.product_link:hover .product_bg_hover,
.product_link:hover .product_hover {
    visibility: visible;
}

.product_link:active .product_hover {
    color: black;
    border-color: black;
}

.product_img {
    visibility: visible;
}

.product {
    position: relative;
}

.product_hover {
    position: absolute;
    display: flex;
    align-items: center;
    font-size: 13px;
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
    left: 70px;
    top: 97px;
    padding: 15px;
    border: 1px solid white;
    visibility: hidden;
}

.product_bg_hover {
    visibility: hidden;
}

.feature {
    background-color: rgba(34, 34, 36, 1);
    margin-bottom: 97px;
    display: flex;
    justify-content: space-between
}

.feature_content {
    display: inline-block;
    flex-direction: column;
    height: 529px;
    width: 1140px;
    background-repeat: no-repeat;
    background-image: url(img/feature.jpg);
}

.feature_h1 {
    font-size: 54px;
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
    letter-spacing: 0.03em;
    margin-top: 146px;
    margin-left: 30px;
}

.feature_h2 {
    font-size: 32px;
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
    letter-spacing: 0.03em;
    margin-left: 30px;
}

.feature_h5 {
    display: inline;
    font-size: 20px;
font-weight: bold;
color: rgba(251, 251, 251, 1);
letter-spacing: 0.03em;
    margin-left: 30px;
}

.feature_p {
    font-size: 14px;
font-weight: 300;
color: rgba(251, 251, 251, 1);
letter-spacing: 0.03em;
line-height: 24px;
    margin-left: 75px;
}

.feature_texts {
    display: flex;
    flex-direction: column;
    width: 550px;
}

.feature_text {
    padding: 26px;
    padding-left: 36px;
}